

<div class="backg">
    <div class="container ">
        <h1>Welcome to Contact Us Component</h1>
    
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, nulla. Fugiat incidunt esse alias harum ab, molestiae saepe necessitatibus, dolore sint cumque iusto iure minus voluptas eius nobis, sequi recusandae! Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, debitis officiis! Delectus culpa consequatur nostrum id nulla excepturi recusandae harum minus omnis sapiente accusamus necessitatibus distinctio exercitationem iste, ratione assumenda.</p>
    
        <button class="btn btn-primary">Learn More</button>
    
        
    </div>
    </div>
    
