<div class="backg">
<div class="container ">
    <h1>Welcome to Home component</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, nulla. Fugiat incidunt esse alias harum ab, molestiae saepe necessitatibus, dolore sint cumque iusto iure minus voluptas eius nobis, sequi recusandae! Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, in facilis. Asperiores, sed nam reprehenderit adipisci quibusdam odit quos quae repellat deleniti commodi magnam illum praesentium hic eveniet sint molestias.</p>

    <button class="btn btn-primary">Learn More</button>

    
</div>
</div>
